# submodules
DL_F-Clip FullyConvolutionalLineParsing/.git
DL_HT-HAWP DeepHoughTransformLinePriors/.git
DL-HAWP Holistically-AttractedWireframeParsing/.git
DL-L-CNN EndToEndWireframeParsing/.git
DL-LETR LineSegmentDetectionUsingTransformersWithoutEdges/.git

# dataset and output in the process
g_datastet

# visual studio output
**/.vs

# output of matlab 
# upload only once - in initial
*.mat  
*.fig

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
